dev/wp-content
dev/repo/tainacan/
dev/repo/tainacan-theme
dev/repo/tainacan-mhn
dev/repo/plugins
dev/data/
dev/docker/init.d
dev/www
dev/src
benchmark/repo/tainacan/
benchmark/repo/tainacan-theme
benchmark/repo/tainacan-mhn
benchmark/data/

prod/data/*
