
.wp-block {
	max-width: 1140px;
}

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor .editor-block-list__block h1.mce-content-body {
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor .editor-block-list__block h1.mce-content-body {
    font-size: 32px;
    margin-bottom: .55em;
}

/* Body Font */
.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #58585a;
	line-height: 1.5;
}

.editor-styles-wrapper div.wp-block,
.editor-styles-wrapper div.wp-block p {
	font-size: 15px;
	line-height: 1.5;
}
