
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	margin: 10px !important;
}

body.show-main-menu #main-menu {
    right: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #58585a;
    font-family: sans-serif;
    font-size: 15px;
	font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
	background: url('library/images/quote.png') top left no-repeat;
	margin: 0 1.5em 0 0;
	padding: 0 0 0 3.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    background-color: #d0d2d4;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

th {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 300;
    line-height: 1.0em;
    word-wrap: break-word;
    color: #006489;
    margin-top: 0;
}

h1 {
    font-size: 32px;
    margin-bottom: .55em;
}

h2 {
    font-size: 28px;
    margin-bottom: .65em;
}

h3 {
    font-size: 22px;
    margin-bottom: .8em;
}

h4 {
    font-size: 20px;
    margin-bottom: 1.1em;
}

h5 {
    font-size: 16px;
    margin-bottom: 1.3em;
}

h6 {
    font-size: 14px;
    margin-bottom: 1.4em;
}

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid rgba(0, 0, 0, 0.14);
	color: #FFF;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	padding: 10px 25px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #3f84a4;	
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	max-width: 100%;
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	max-width: 100%;
	width: 500px;
}

a {
	text-decoration: none;
}

a:visited {
	
}

a:hover,
a:focus,
a:active {
	
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/*--------------------------------------------------------------
Fallback CSS for Customizer Library Styles
--------------------------------------------------------------*/
.site-header .branding .title {
	font-family: 'Kaushan Script';
}

body,
.site-header .site-top-bar-left a,
.site-header .site-top-bar-right a,
.site-header .site-header-right a,
.breadcrumbs,
.site-footer-widgets .widget a,
.slider .slide .overlay .opacity p {
    color: #58585a;
    font-family: 'Lato', sans-serif;
}
.header-cart-checkout .otb-fa {
	background-color: #58585a;
}
.widget-area .widget h2 {
	color: #58585a;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.site-footer-widgets ul li h2.widgettitle {
    color: #006489;
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 400;
}

.slider .slide .overlay .opacity h2,
.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
button, input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: 'Raleway', sans-serif;
}

a,
.slider .slide .overlay .opacity h2,
.search-btn,
.site-title a,
.error-404.not-found .page-header .page-title span,
.widget-area .widget a,
.search-button .otb-fa-search,
.site-top-bar-left-text em,
.color-text {
    color: #006489;
}

.main-navigation,
.main-navigation ul ul,
#comments .form-submit #submit,
.search-block .search-submit,
.no-results-btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product a.button.product_type_simple,
.woocommerce-page ul.products li.product a.button.product_type_simple,
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
#main-menu.panoramic-mobile-menu-standard-color-scheme,
.wpcf7-submit,
.site-footer-bottom-bar {
    background: inherit;
    background-color: #006489;
}

.main-navigation.translucent {
	background-color: rgba(0, 100, 137, 0.7);
}

.header-cart-checkout.cart-has-items .otb-fa-shopping-cart {
    background-color: #006489 !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
	border-color: #006489;
}

.woocommerce ul.products li.product .onsale:after,
.woocommerce-page ul.products li.product .onsale:after {
    border-right: 4px solid #006489;
}

.woocommerce .woocommerce-message {
	border-top-color: #006489;
}

a:hover,
.widget-area .widget a:hover,
.site-footer-widgets .widget a:hover,
.search-btn:hover,
.search-button .otb-fa-search:hover,
.site-header .site-top-bar-left a:hover,
.site-header .site-top-bar-right a:hover,
.site-header .site-header-right a:hover,
.woocommerce #content div.product p.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product span.price,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    color: #3f84a4;
}

.main-navigation button:hover,
#comments .form-submit #submit:hover,
.search-block .search-submit:hover,
.no-results-btn:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.site-header .site-top-bar-right a:hover .header-cart-checkout .otb-fa,
.site-header .site-header-right a:hover .header-cart-checkout .otb-fa,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce ul.products li.product a.add_to_cart_button:hover,
.woocommerce-page ul.products li.product a.add_to_cart_button:hover,
.woocommerce ul.products li.product a.button.product_type_simple:hover,
.woocommerce-page ul.products li.product a.button.product_type_simple:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover,
wpcf7-submit:hover {
    background: inherit;
    background-color: #3f84a4;
}


/* Footer Color */
.site-footer {
	background-color: #eaf1f7;
}
